
<div class="frame background">
	<section id="nrMainArea" class="jumbotron shadow">
		<h1>node-runner</h1>
		<p><a href="https://github.com/monsterlane/node-runner" title="GitHub" target="_blank">https://github.com/monsterlane/node-runner</a></p>
		<p><a href="http://opensource.org/licenses/MIT" title="MIT license" target="_blank">(mit)</a> mvc framework by <a href="http://about.me/jonathandown" title="About.me" target="_blank">@jonathandown</a></p>
		<p>
			<a href="/login" class="btn btn-primary">
				<span class="glyphicon glyphicon-forward"></span>
				Sign In
			</a>
		</p>
	</section>
</div>
