<!DOCTYPE html>
<html lang="en">
<head>
	<title>node-runner | 500</title>
	<meta charset="utf-8">

	<meta name="author" content="Jonathan Down" />
	<meta name="description" content="An HTML5 app framework written in Express, doT.js, MongoDB, and Redis" />
	<meta name="robots" content="index,follow" />
	<meta name="viewport" content="initial-scale=1.0,width=device-width">

	<link href="/base/css/normalize.min.css" type="text/css" rel="stylesheet" media="all" />
</head>
<body>

<h1>500: Internal Server Error</h1>
<p>Looks like something blew up!</p>

</body>
</html>
